@import url('https://fonts.googleapis.com/css?family=M+PLUS+Rounded+1c');
@import url('https://fonts.googleapis.com/css?family=Source+Code+Pro');

:root {
    --default-font-family: "M PLUS Rounded 1c", sans-serif;
    --source-code-font: "Source Code Pro", monospace;
}

@media screen and (min-width:981px) {
    html {
        background-repeat: repeat-y;
        background-image: url("background-phone.webp");
    }
}

html {
    background-repeat: repeat-y;
    background-image: url("background.webp");
}

* {
    text-align: center;
    margin-right: auto;
    margin-left: auto;
    font-family: var(--default-font-family);
}

*:not(input, small, h2, h3, button) {
    font-size: 20px;
}

small {
    font-size: 15px;
}

#user, #area, #button {
    border-radius: 10px 10px;
    font-size: 25px;
}

#box, .box {
    border: 3px solid black;
    border-radius: 20px 0px;
    height: 100%;
    width: 90%;
    background-color: lightblue;
}

#button {
    border: 2px solid silver;
    width: 95%;
    height: 50px;
}

#user, .button, .text {
    width: 95%;
}

.emoji {
    width: 30px;
    height: 30px;
}

.card {
    border: 5px inset blue;
    width: 95%;
    height: 80vh;
    border-radius: 30px 0px;
    background-size: cover;
}

#title_text {
    font-family: sans-serif;
}

#area {
    width: 95%;
    height: 430px;
}

#two_box {
    width: 90%;
    display: flex;
}

#two_box > #special_box {
    width: 50%;
}

.no_warp {
    display: inline-block;
}

hr {
    width: 80%;
}

/* テーブル関連 */

th {
    border: 3px inset lightblue;
}

td {
    border: 3px inset lightblue;
}

table {
    width: 95%;
}

textarea {
    width: 70%;
    height: 30vh;
}

.menu {
    width: 10%;
}

/* ソースコード関連 */

#code > code > pre {
    font-family: var(--source-code-font);
    font-size: 15px;
    text-align: left;
    overflow: scroll;
}

#code {
    background-color: rgb(26, 26, 26);
    color: white;

    border: 3px white solid;
    height: 100%;
    width: 90%;
}