@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+JP:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css?family=Source+Code+Pro');

:root {
    --default-font-family: "IBM Plex Sans JP", sans-serif;
    --source-code-font: "Source Code Pro", monospace;
}

/*
@media screen and (min-width:981px) {
    html {
        background-repeat: repeat-y;
        background-image: url("background-phone.webp");
    }
}

html {
    background-repeat: repeat-y;
    background-image: url("background.webp");
}
*/

* {
    text-align: center;
    margin-right: auto;
    margin-left: auto;
    font-family: var(--default-font-family);
}

*:not(input, small, h2, h3, button) {
    font-size: 20px;
}

small {
    font-size: 15px;
}

#user, #area, #button {
    border-radius: 10px 10px;
    font-size: 25px;
}

#box, .box {
    border: 3px solid black;
    border-radius: 5px 5px;
    height: 100%;
    width: 90%;
    background-color: rgb(206, 230, 255);
    box-shadow: 1.5px 1.5px 2px rgb(34, 34, 34) ;
}

#button {
    border: 2px solid silver;
    width: 95%;
    height: 50px;
}

#user, .button, .text {
    width: 95%;
}

.emoji {
    width: 30px;
    height: 30px;
}

.card {
    border: 5px inset blue;
    width: 95%;
    height: 80vh;
    border-radius: 30px 0px;
    background-size: cover;
}

#title_text {
    font-family: sans-serif;
}

#area {
    width: 95%;
    height: 430px;
}

#two_box {
    width: 90%;
    display: flex;
}

#two_box > #special_box {
    width: 50%;
}

.no_warp {
    display: inline-block;
}

hr {
    width: 80%;
}

/* テーブル関連 */

th {
    border: 3px inset rgb(206, 230, 255);
}

td {
    border: 3px inset rgb(206, 230, 255);
}

table {
    width: 95%;
}

textarea {
    width: 70%;
    height: 30vh;
}

.menu {
    width: 10%;
}

/* ソースコード関連 */

#code > code > pre {
    font-family: var(--source-code-font);
    font-size: 15px;
    text-align: left;
    overflow: scroll;
}

#code {
    background-color: rgb(26, 26, 26);
    color: white;

    border: 3px white solid;
    height: 100%;
    width: 90%;
}

.hutoji {
    font-weight: bold;
}

.shatai {
    font-style: oblique;
}

.torikeshi {
    text-decoration-line: line-through;
}

body {
    
    background-image:   linear-gradient( rgb(49, 121, 245), rgb(89, 147, 247) );
  background-attachment: fixed;
    


    
  }